/* GENERAL STYLING */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Medium";
}
/* GENERAL STYLING END */

/* CONTENT SECTION */
.heading {
  font-family: "Inter Semi-Bold-Italic";
  font-size: 25px;
  margin-top: 50px;
  margin-left: 30px;
  text-decoration: underline;
}

.tableContainer {
  margin: 50px;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  width: auto;
}

td,
th {
  padding: 15px;
  border: 3px solid black;
  font-weight: 200;
}

tr {
  text-align: center;
}
/* CONTENT SECTION END */
